---
---
<footer class="footer">
  <span class="meta">&copy; Aarya Vasantlal &middot; Born in the USA <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/1f1fa-1f1f8.svg" alt="🇺🇸" width="14" height="14" style="display:inline;vertical-align:middle;margin:0 1px;" /> &middot; Built with the Help of AI :) </span>
  <span class="meta">
    <a href="https://github.com/aaryavas" style="color:inherit">github</a> &middot;{' '}
    <a href="https://www.linkedin.com/in/aarya-vasantlal" style="color:inherit">linkedin</a> &middot;{' '}
    <a href="mailto:aarya.vasantlal@proton.me" style="color:inherit">email</a>
  </span>
</footer>
